/* .Button {
  padding: 10px;
  background-color: orangered;
  position: relative;
  left: 0;
}
.Property1 {
  size: 14px;
}
.img1 {
  height: 200px;
  width: 200px;
}
.mainImage {
  height: 500px;
  width: 600px;
}
.subImag {
} */
